.Dictionary {
    text-align: center;
    font-family: 'Gideon Roman';
}
.Dictionary .search-bar, .search-button {
 padding: 5px 10px;
 font-size: 20px;
 font-family: 'Gideon Roman';
 margin-bottom: 30px;
 border: 1px solid #9F8C76;
 border-radius: 4px;
}
.Dictionary .search-bar{
    width: 250px;
}
.Dictionary .search-button {
    background-color: white;
    transition: all 200ms ease-in-out;
}
.Dictionary .search-button:hover {
    cursor: pointer;
    background-color: #1F2A46;
    color: white;
}