.Photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 40px;
}
.Photos img {
    max-width: 100%;
    filter: sepia(50%);
    border-radius: 4px;
}

@media (max-width: 600px) {
    .Photos {
        grid-template-columns: 1fr;
    }
}