.Results {
    text-align: left;
    margin-left: 100px;
    line-height: 1.25;
}

.Results h2 {
    font-family: 'Grenze Gotisch';
    text-transform: capitalize;
    color: #1F2A46;
}
.Results h3, h4, p {
    font-family: 'Gideon Roman';
}
.Results h2 {
    font-size: 50px;
}
.Results h3 {
    font-size: 25px;
}
.Results h4 {
    font-size: 30px;
}
.Results p {
    font-size: 25px;
}
.Results .example {
    margin-top: 12px;
}